<div class="container">
    <div class="row mb-5 mt-4 d-md-flex d-none">
        <div class="col"></div>
        <div class="col d-flex justify-content-center">
            <h3 class="texto-preguntas"><strong>PREGUNTAS <br> FRECUENTES</strong> </h3>
        </div>
        <div class="col">
            <div class="todos"><a (click)="back()"><b class="texto-negro"> REGRESAR</b></a></div>
        </div>
    </div>
    <div class="row mb-5 mt-4 d-md-none d-flex">
        <div class="col"></div>
        <div class="col-12 d-flex justify-content-center">
            <h3 class="texto-preguntas"><strong>PREGUNTAS <br> FRECUENTES</strong> </h3>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="todos"><a (click)="back()"><b class="texto-negro"> REGRESAR</b></a></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="texto-justificar">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, unde dignissimos dolorem ea harum optio odio nam. Deserunt, quia officiis? Ex voluptas eaque dolor at accusamus error libero. Obcaecati aperiam ea inventore voluptates quibusdam distinctio,
                incidunt possimus non voluptatum ab neque magni, mollitia nobis dolorem tempora amet eveniet blanditiis. Consequuntur dolores modi natus suscipit, quod quisquam aliquid harum quae totam eum ratione! Atque facere esse cupiditate modi doloribus,
                deserunt cum praesentium distinctio ut dignissimos? Ratione voluptatum vel quas iste eum alias eligendi praesentium distinctio. A asperiores vitae fugit maiores vel ratione incidunt alias sed. Repudiandae quas provident voluptate magni
                fuga doloremque laborum vitae qui quibusdam soluta nemo, eaque consequatur temporibus molestias necessitatibus amet? Quod delectus explicabo optio voluptates debitis fugit quisquam, quae ullam odit quidem, ab iure repellat possimus aperiam
                suscipit culpa ea facilis dolorum? Illo, ducimus. Nostrum eaque accusamus debitis ducimus molestiae impedit, illo iure voluptates tenetur? Exercitationem nostrum ratione maxime, vero sapiente quisquam placeat ipsam distinctio recusandae
                beatae libero, harum veritatis qui, excepturi maiores provident vel illum dolore sed voluptatem. Aperiam in minus eius praesentium! Beatae nisi illum id perferendis explicabo, dolores debitis rerum harum dolorem aliquid sunt enim, deserunt
                earum animi nobis, accusamus cumque? Quis provident beatae, odit dolorem necessitatibus aperiam eum nesciunt architecto quibusdam quas cum laboriosam, amet possimus voluptatibus, esse voluptas rem veritatis facere minima a accusantium
                rerum. Possimus expedita aliquid tenetur libero beatae adipisci sit necessitatibus nihil! Nobis enim ea consectetur saepe nihil consequuntur eius numquam. Aliquid nam maiores unde odio, eaque sint! Ex nobis accusamus blanditiis aut tenetur
                fugit reiciendis unde temporibus, repellendus error ducimus commodi consectetur repellat molestiae quo omnis eos natus fuga, tempore excepturi hic minus accusantium, sequi iure? Error labore sequi, quibusdam illo laborum ad nulla modi
                qui consequuntur illum asperiores cum excepturi? Modi quisquam in, impedit quam reiciendis dolorum quod quo saepe vero, culpa ex maxime odio voluptatibus. Recusandae illo voluptatem libero nemo officia rem, porro sed distinctio voluptatibus
                praesentium commodi tempora accusantium, quidem beatae, fugiat molestias totam sint. Molestiae excepturi, impedit veritatis commodi, deserunt cum laboriosam, asperiores iusto quae nisi error tempora quam quibusdam reiciendis exercitationem
                ullam nemo corporis. Itaque unde voluptate adipisci atque, exercitationem nostrum, placeat numquam, facilis laborum dignissimos et aliquam alias illum deserunt nesciunt. Vero perferendis recusandae ducimus veniam aliquid asperiores provident
                mollitia, consequatur unde quaerat cumque cum magni nulla, voluptatibus odio error vel fugiat laborum nisi. Modi minus dolores beatae. Rem facilis deserunt adipisci iure iusto laborum, suscipit expedita dolorum dolorem dolor atque itaque,
                consectetur earum! Voluptatibus ducimus corrupti, ut quas natus cum, aliquam corporis dolorum voluptatem quia debitis odit vel amet suscipit, a similique? Quos quisquam laudantium nam consectetur? Nobis non officia tempore, est reprehenderit
                cum itaque neque voluptatem necessitatibus magnam omnis dolor, ea porro corrupti. Officia fugiat voluptatum saepe quaerat iure quos, corrupti distinctio voluptas nulla dolorum doloribus perferendis temporibus. Similique veritatis architecto
                tenetur illum quisquam soluta dignissimos omnis saepe perferendis repellat rem error mollitia, alias nisi maxime et ipsum, dolore, non assumenda vel doloribus dolor molestias reiciendis. Illo accusantium laborum voluptate alias placeat
                pariatur porro beatae quis doloribus similique quisquam, dolorum quidem cumque vel atque. Provident velit voluptatem obcaecati laborum sequi fugit placeat quae earum consequuntur autem, saepe incidunt animi commodi soluta quam tempore
                voluptatibus cumque sed nemo. Quo corrupti esse praesentium vitae perspiciatis pariatur sapiente natus modi ab laboriosam? In aspernatur animi dolore sint nam, dolorem et id distinctio similique nulla consequatur, incidunt accusantium
                explicabo culpa excepturi impedit ducimus officiis a! Expedita earum doloribus aliquam commodi esse nesciunt asperiores atque incidunt laboriosam. Enim tempora nisi accusamus sit molestias sapiente illo repellendus quibusdam optio vero,
                magni ipsa dolorem debitis labore voluptates nemo voluptate veniam suscipit inventore! Minus unde culpa corrupti repellendus, quibusdam doloremque alias eos omnis quam nisi, consectetur amet quia! Labore eius quam sint, rerum earum ab,
                magnam quia, quae eaque iste ut officiis. Architecto sed vitae facilis perspiciatis iure voluptas illo reiciendis sequi eos, sunt, non deleniti. Sapiente nemo tempore quaerat necessitatibus, est expedita porro! Voluptatem voluptates sit,
                aliquid odio veritatis, odit corporis molestiae ipsa incidunt cumque tempora excepturi, ex sequi! Maiores distinctio deleniti quam beatae, voluptatibus quo quidem molestiae adipisci molestias magnam! Magnam voluptas et cupiditate magni
                eligendi eaque quam. Totam, voluptates ea. Quidem, dolores rem consequatur dolorem maiores sit explicabo veritatis eligendi voluptatum ex pariatur voluptatem voluptas accusamus eaque omnis dolore earum illum nesciunt corporis mollitia
                blanditiis exercitationem. In tempora suscipit dolorum aperiam sapiente doloribus quibusdam veniam officia laudantium aliquam, nisi nemo, sed nostrum deleniti saepe vel. Dicta maiores quis maxime eveniet laboriosam sapiente nam doloribus
                velit blanditiis modi distinctio, dolores quia repudiandae quam cum corrupti odit consectetur minima quisquam cumque incidunt, tenetur inventore quod ratione. Dignissimos temporibus iure cupiditate fugit id ullam alias possimus, consectetur
                magni accusantium quis minima voluptate iusto pariatur? Tempora eveniet voluptatibus temporibus, eum sit nesciunt molestiae quos ad id incidunt assumenda delectus sapiente quasi officiis, perferendis harum iste libero? Debitis deserunt
                ducimus impedit? Ex distinctio cum mollitia illo. Provident perferendis enim nobis deleniti illo porro nihil architecto alias itaque eaque, consequuntur nemo ut quos magnam labore repudiandae officiis at, recusandae et quibusdam impedit
                doloribus? Molestias autem obcaecati unde, ea, placeat dolor optio veritatis repellendus quo eligendi corporis magni doloribus, labore libero nobis. Id iusto, harum voluptatibus officia sint dolore placeat dolor optio atque hic omnis eveniet
                temporibus delectus molestiae perferendis quae facere accusamus ducimus mollitia impedit dolores voluptas! Debitis praesentium pariatur libero impedit cum, porro, soluta voluptas cupiditate quia placeat facere, error beatae est voluptatibus
                fugiat obcaecati. Laudantium fugiat rerum velit fugit est blanditiis dicta quae dolorem, dolor totam eius. Ipsum accusantium laudantium ducimus id sit molestias facere consectetur omnis reiciendis. Facilis cum exercitationem praesentium
                laudantium ratione fuga culpa vel ab ad, itaque aut dignissimos, atque omnis. Nulla voluptatum minima non esse voluptates obcaecati culpa praesentium? Harum fugit rerum illum unde obcaecati odit quos est quaerat maxime! Sunt ratione fugit
                voluptatum itaque aut tenetur quidem! Aut, illo quidem vero possimus vitae at nobis velit officiis ipsum sed iste unde asperiores dolorem, quo blanditiis recusandae aliquam quos! Dolorem tenetur est reiciendis iure quis!
            </p>
        </div>
    </div>
</div>