<div class="container-fluid degradadoverde2">
    <div class="row align-items-center">
        <div class="col-12 col-md-8 mt-4 ">

            <img src="assets/images/001-recomienda-gana.jpg " class="img-fluid" height="400vh" alt="">

        </div>
        <div class="col-md-4 col-12 pl-0 pr-3 rounded ">
            <div class=" d-none d-md-block card" style="width: 90%; position: relative; right: 40%;">
                <div class="card-body ">
                    <h2 class="card-title text-monospace">
                        <b>DESPÁCHATE <br> <span class="texto-rojo">RECOMIENDA Y GANA</span></b></h2>
                    <p class="card-text">
                        Cada vez que recomiendas Despáchate a un amig@ o familiar, y 5 de ellos realizan la compra de su súper en línea en Despáchate.com.mx , obtienes un cupón de descuento que puedes usar en tu siguiente pedido. Solo tienes que pedirle a tu amig@ que ponga
                        y use tu código de descuento en el momento de realizar su compra.
                    </p>
                    <a class="d-flex" [routerLink]="['/','registrarse']">
                        <p class="text-danger mr-3 font-weight-bold mt-3">Suscribete ahora</p>
                        <img src="assets/images/FLECHA-CONOCE-MAS.svg" style="width: 20px !important;" alt="" srcset="">
                    </a>
                </div>
            </div>


            <div class="card d-block d-md-none" style="width: 90%; position: relative; bottom: 20px; left: 7%;">
                <div class="card-body ">
                    <h2 class="card-title text-monospace">
                        <b>  DESPÁCHATE <br> <span class="texto-rojo">RECOMIENDA Y GANA</span></b></h2>
                    <p class="card-text">
                        Cada vez que recomiendas Despáchate a un amig@ o familiar, y 5 de ellos realizan la compra de su súper en línea en Despáchate.com.mx , obtienes un cupón de descuento que puedes usar en tu siguiente pedido. Solo tienes que pedirle a tu amig@ que ponga
                        y use tu código de descuento en el momento de realizar su compra.
                    </p>
                    <a class="d-flex" [routerLink]="['/','registrarse']">
                        <p class="text-danger mr-3 font-weight-bold mt-3">Suscribete ahora</p>
                        <img src="assets/images/FLECHA-CONOCE-MAS.svg" alt="" srcset="">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container" style="margin-top: 0!important; margin-bottom: 0!important;">
    <h2 class="container  mr-1 mt-5  ">
        <b> ¿CÓMO <span class="texto-rojo">FUNCIONA?
        </span></b>
    </h2>
    <div class="row align-items-center">

        <div class="col-12 col-md-6 d-flex">
            <img src="assets/images/003-recomienda-gana.svg" style="height:350px!important" alt="" srcset="">

        </div>
        <div class="col-12 col-md-6">
            <h5 class="monropeLight">Crea tu cuenta en
                <a [routerLink]="['/','registrarse']"><img src="assets/images/002-recomienda-gana.svg" style="height:25px" alt=""></a>
            </h5>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-4 d-flex">
            <img src="assets/images/004-recomienda-gana.svg" style="height:350px!important" alt="" srcset="">

        </div>
        <div class="col-12 col-md-5">
            <h5 class="monropeLight">Realiza tú primera compra.</h5>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-12 col-md-5 d-flex">
            <img src="assets/images/005-recomienda-gana.svg" style="height:350px!important" alt="" srcset="">

        </div>
        <div class="col-12 col-md-7">
            <h5 class="monropeLight">Se te asignara un código personalizado.</h5>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-3"></div>
        <div class="col-md-6"><img src="assets/images/006-recomienda-gana.svg" style="height:350px!important" alt="" srcset=""></div>
        <div class="col-md-3">
            <h5 class="monropeLight">Comparte tu código con tus amigos y familiares</h5>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-12 col-md-6 mr-0 pr-0">
            <img src="assets/images/007-recomienda-gana.svg" style="height:350px!important" alt="" srcset="">
        </div>

        <div class="col-12 col-md-5 ml-0 pl-0">
            <h5 class=" monropeLight ml-0 pl-0">Ellos podrán utilizar tu código para recibir %5 de descuento que podrán aplicar en su primera compra</h5>
        </div>

        <div class="col-12 col-md-1"></div>

    </div>

    <div class="row align-items-center">
        <div class="col-12 col-md-3"></div>

        <div class="col-12 col-md-4">
            <img src="assets/images/008-recomienda-gana.svg" style="height:350px!important" alt="" srcset="">
        </div>

        <div class="col-12 col-md-5">
            <h5 class="monropeLight">Por cada 5 personas que usan tú código y generan una compra en Despáchate recibirás un código de 5% de descuento que podrás aplicar en tu siguiente compra. A su vez, tu amigo al usar tú código, obtendrá 5% de descuento en su primer pedido.
            </h5>
        </div>

    </div>
    <div class="row align-items-center">
        <div class="col-12 col-md-6"> <img src="assets/images/009-recomienda-gana.svg" style="height:350px!important" alt="" srcset=""></div>
        <div class="col-12 col-md-5">
            <h5 class="monropeLight">Sigue despachándote, recomendando y ganando
            </h5>

        </div>
        <div class="col-12 col-md-1">

        </div>
    </div>

    <div class="row mt-3 mb-3">
        <h2 class="container  mr-1  text-al-center monropeLight">
            ¡ÚNETE YA, Y HAZ TU SÚPER EN LÍNEA EN DESPÁCHATE!<a [routerLink]="['/','registrarse']" style="text-decoration:none;"><span class="texto-rojo ml-4 monoBold" style="font-size: 32px !important; ">Crea tu cuenta<img src="assets/images/FLECHA-CONOCE-MAS.svg" class="ml-3" alt="" srcset="">
  </span></a></h2>
    </div>
</div>