// Bootstrap brand color customization

/*     brand Colors              */

$brand-primary: $indigo-300 !default;
$brand-info: $teal-400 !default;
$brand-success: $green-300 !default;
$brand-warning: $deep-orange-400 !default;
$brand-danger: $red-400 !default;
$brand-rose: $pink-400 !default;
$brand-inverse: $black-color !default;