<div class="container">
    <div class="row mb-5 mt-4 d-md-flex d-none">
        <div class="col"></div>
        <div class="col d-flex justify-content-center">
            <h3 class="texto-rojo text-white"><strong>AVISO DE<br> PRIVACIDAD</strong></h3>
        </div>
        <div class="col">
            <div class="todos"><a (click)="back()"><b class="texto-negro"> REGRESAR</b></a></div>
        </div>
    </div>
    <div class="row mb-5 mt-4 d-md-none d-flex">
        <div class="col"></div>
        <div class="col-12 d-flex justify-content-center">
            <h3 class="texto-rojo text-white"><strong>AVISO DE<br> PRIVACIDAD</strong></h3>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="todos"><a (click)="back()"><b class="texto-negro"> REGRESAR</b></a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="texto-justificar">
                ARTE VENTAS DE PUEBLA SA DE CV, mejor conocido como ARTE VENTAS, con domicilio en calle Camino a la Resurrección No. 80, colonia Parque Industrial Puebla 2000, ciudad Puebla, municipio o delegación Puebla, c.p. 72225, en la entidad de Puebla, país México,
                y portal de internet <a href="https://www.arteventas.com" target="blank">www.arteventas.com</a>, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:
            </p>
            <h5>
                ¿Para qué fines utilizaremos sus datos personales?
            </h5>
            <p class="texto-justificar">
                De manera adicional, utilizaremos su información personal para las siguientes finalidades secundarias que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención:
            </p>
            <ul>
                <li>Directorio de clientes</li>
                <li>Base de datos para proveedores</li>
                <li>Mailing</li>
                <li>Promociones</li>
                <li>Consulta entidades crediticias</li>
                <li>Registro en entidades crediticias</li>
                <li>Mercadotecnia o publicitaria</li>
                <li>Prospección comercial</li>
            </ul>
            <p class="texto-justificar">En caso de que no desee que sus datos personales sean tratados para estos fines secundarios, desde este momento usted nos puede comunicar lo anterior a través del siguiente mecanismo: correo electrónico: <a href="mailto:e-commerce@arteventas.com">e-commerce@arteventas.com</a></p>
            <p class="texto-justificar">La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros.</p>
            <h5>¿Qué datos personales utilizaremos para estos fines?</h5>
            <p class="texto-justificar">Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:</p>
            <ul>
                <li>Nombre</li>
                <li>Estado Civil</li>
                <li>Registro Federal de Contribuyentes(RFC)</li>
                <li>Lugar de nacimiento</li>
                <li>Fecha de nacimiento</li>
                <li>Nacionalidad</li>
                <li>Domicilio</li>
                <li>Teléfono particular</li>
                <li>Teléfono celular</li>
                <li>Correo electrónico</li>
                <li>Edad</li>
                <li>Fotografía</li>
                <li>Puesto o cargo que desempeña</li>
                <li>Domicilio de trabajo</li>
                <li>Correo electrónico institucional</li>
                <li>Teléfono institucional</li>
                <li>Trayectoria educativa</li>
                <li>Títulos</li>
                <li>Certificados</li>
                <li>Reconocimientos</li>
                <li>Calidad migratoria</li>
                <li>Pasatiempos</li>
                <li>Aficiones</li>
                <li>Deportes que practica</li>
                <li>Juegos de su interés</li>
            </ul>
            <h5>¿Con quién compartimos su información personal y para qué fines?</h5>
            <p class="texto-justificar">Le informamos que sus datos personales son compartidos dentro y fuera del país con las siguientes personas, empresas, organizaciones o autoridades distintas a nosotros, para los siguientes fines:</p>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Destinatario de los datos personales</th>
                        <th>Finalidad</th>
                        <th>Requiere del consentimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Proveedores</th>
                        <th>Promociones</th>
                        <th>No</th>
                    </tr>
                    <tr>
                        <th>Proveedores</th>
                        <th>Publicidad</th>
                        <th>No</th>
                    </tr>
                    <tr>
                        <th>Entidades</th>
                        <th>Crediticias Calificación de crédito</th>
                        <th>No</th>
                    </tr>
                </tbody>
            </table>
            <h5>¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?</h5>
            <p class="texto-justificar">Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada,
                sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales para
                fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.</p>
            <p class="texto-justificar">Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del siguiente medio: correo electrónico: <a href="mailto:e-commerce@arteventas.com">e-commerce@arteventas.com</a></p>
            <p class="texto-justificar">Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, ponemos a su disposición el siguiente medio: correo electrónico: <a href="mailto:e-commerce@arteventas.com">e-commerce@arteventas.com</a></p>
            <p class="texto-justificar">Los datos de contacto de la persona o departamento de datos personales, que está a cargo de dar trámite a las solicitudes de derechos ARCO, son los siguientes:</p>
            <ol>
                <li>Nombre de la persona o departamento de datos personales: Lic. Héctor González Díaz</li>
                <li>Domicilio: calle Camino a la Resurrección No. 80, colonia Parque Industrial Puebla 2000, ciudad Puebla, municipio o delegación Puebla, c.p. 72225, en la entidad de Puebla, país México</li>
                <li>Correo electrónico: <a href="mailto:e-commerce@arteventas.com">e-commerce@arteventas.com</a></li>
                <li>Número telefónico: 222-2827500</li>
            </ol>
            <p class="texto-justificar">Otro dato de contacto: <a href="mailto:g-ventas@arteventas.com">g-ventas@arteventas.com</a> Usted puede revocar su consentimiento para el uso de sus datos personalesUsted puede revocar el consentimiento que, en su caso, nos haya otorgado para
                el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requerimos
                seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implica que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación
                con nosotros.</p>
            <p class="texto-justificar">Para revocar su consentimiento deberá presentar su solicitud a través del siguiente medio:</p>
            <p class="texto-justificar">correo electrónico: <a href="mailto:e-commerce@arteventas.com">e-commerce@arteventas.com</a></p>
            <p class="texto-justificar">Con relación al procedimiento y requisitos para la revocación de su consentimiento, le informamos lo siguiente:</p>
            <ol type="A">
                <li>¿A través de qué medios pueden acreditar su identidad el titular y, en su caso, su representante, así como la personalidad este último? correo electrónico: <a href="mailto:e-commerce@arteventas.com">e-commerce@arteventas.com</a></li>
                <li>¿Qué información y/o documentación deberá contener la solicitud? Credencial INE y comprobante domiciliario</li>
                <li>¿En cuántos días le daremos respuesta a su solicitud? 30 días naturales</li>
                <li>¿Por qué medio le comunicaremos la respuesta a su solicitud? correo electrónico</li>
                <li>Para mayor información sobre el procedimiento, ponemos a disposición los siguientes medios: correo electrónico: <a href="mailto:e-commerce@arteventas.com">e-commerce@arteventas.com</a></li>
            </ol>
            <h5>¿Cómo puede limitar el uso o divulgación de su información personal?</h5>
            <p class="texto-justificar">Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes medios: correo electrónico: <a href="mailto:e-commerce@arteventas.com">e-commerce@arteventas.com</a></p>
            <p class="texto-justificar">El uso de tecnologías de rastreo en nuestro portal de internet Le informamos que en nuestra página de internet utilizamos cookies, web beacons u otras tecnologías, a través de las cuales es posible monitorear su comportamiento como usuario
                de internet, así como brindarle un mejor servicio y experiencia al navegar en nuestra página. Los datos personales que recabamos a través de estas tecnologías, los utilizaremos para los siguientes fines:</p>
            <p class="texto-justificar">Promoción y Publicidad</p>
            <p class="texto-justificar">Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes:</p>
            <p class="texto-justificar">Identificadores, nombre de usuario y contraseñas de una sesión</p>
            <p class="texto-justificar">Región en la que se encuentra el usuario</p>
            <p class="texto-justificar">Tipo de sistema operativo del usuario</p>
            <p class="texto-justificar">Fecha y hora del inicio y final de una sesión de un usuario</p>
            <h5>¿Cómo puede conocer los cambios en este aviso de privacidad?</h5>
            <p class="texto-justificar">El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad;
                de cambios en nuestro modelo de negocio, o por otras causas.</p>
            <p class="texto-justificar">Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de: Página web: <a href="https://www.arteventas.com" target="blank">www.arteventas.com</a>.</p>
            <p class="texto-justificar">El procedimiento a través del cual se llevarán a cabo las notificaciones sobre cambios o actualizaciones al presente aviso de privacidad es el siguiente:</p>
            <p class="texto-justificar">Publicación en página WEB: <a href="https://www.arteventas.com" target="blank">www.arteventas.com</a></p>
            <p class="texto-justificar">Última actualización: 13/06/2017</p>

        </div>
    </div>
</div>