<!-- Content -->
<div class="content">
  <!-- Animated -->
  <div class="animated fadeIn">
    <div class="clearfix"></div>

    <div class="orders">
      <div class="row">
        <div class="col">
          <div class="card">
            <div
              class="card-header hover btn-primary text-dark"
              style="cursor: pointer"
              data-toggle="collapse"
              role="button"
              data-target="#header-form"
            >
              <div class="d-block text-center">
                <strong class="p-2 bd-highlight">Agregar oferta</strong>
              </div>
            </div>
            <div class="card-body card-block collapse show" id="header-form">
              <form
                ngNativeValidate
                [formGroup]="form"
                (ngSubmit)="add()"
                class="form-horizontal"
              >
                <div class="row">
                  <div class="col-12 col-md-6 col-sm-12 form-group">
                    <div class="col">
                      <label for="producto" class="form-control-label"
                        >Productos</label
                      >
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input
                          type="search"
                          class="form-control"
                          [(ngModel)]="search"
                          name="search"
                          (change)="consultarProductos()"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Buscar producto por nombre o SKU"
                        />
                      </div>
                      <div class="list-group">
                        <a
                          href="javascript:void(0)"
                          (click)="productoSeleccionado(producto._id)"
                          class="list-group-item list-group-item-action"
                          [ngClass]="{
                            'list-group-item-primary':
                              form.controls.producto.value === producto._id
                          }"
                          *ngFor="let producto of listaProductos"
                          >{{ producto.nombre }} - SKU: {{ producto.sku }}</a
                        >
                      </div>
                      <div hidden>
                        <select
                          formControlName="producto"
                          (change)="
                            productoSeleccionado(form.get('producto').value)
                          "
                          required
                          name="producto"
                          id="producto"
                          class="form-control"
                        >
                          <option value="null" selected>
                            Seleccione un producto
                          </option>
                          <option
                            [value]="[item._id]"
                            *ngFor="let item of listaProductos"
                          >
                            {{ item.nombre }} - SKU: {{ item.sku }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-sm-12 form-group">
                    <div class="col">
                      <label for="inventario" class="form-control-label"
                        >Inventarios</label
                      >
                    </div>
                    <div class="col">
                      <select
                        formControlName="inventario"
                        required
                        name="inventario"
                        id="inventario"
                        class="form-control"
                      >
                        <option value="null" selected>
                          Seleccione un inventario
                        </option>
                        <option
                          [value]="[item._id]"
                          *ngFor="let item of listaInventario"
                        >
                          {{ item.paquete }} - Precio: {{ item.precio }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-sm-12 form-group">
                    <div class="col">
                      <label for="precio" class="form-control-label"
                        >Precio</label
                      >
                    </div>
                    <div class="col">
                      <input
                        formControlName="precio"
                        min="0"
                        step="0.01"
                        required
                        type="number"
                        id="precio"
                        name="precio"
                        placeholder="Introduce el Precio del producto en oferta"
                        class="form-control"
                      />
                      <small class="form-text text-muted">Ejemplo: 100</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button
                      type="button"
                      class="btn btn-danger btn-block"
                      (click)="limpiarCampos()"
                    >
                      Cancelar
                    </button>
                  </div>
                  <div class="col">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block"
                      [hidden]="hidden"
                    >
                      Registrar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="card p-3">
            <div class="card-body">
              <h4 class="box-title">Productos en Oferta</h4>
            </div>
            <div class="card-body">
              <div class="">
                <div class="table-responsive">
                  <table
                    datatable
                    [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger"
                    class="table"
                  >
                    <thead>
                      <tr>
                        <th class="serial">#</th>
                        <th>Nombre</th>
                        <th>Paquete</th>
                        <th>Precio Paquete</th>
                        <th>Precio Oferta</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of lista; let i = index">
                        <td class="serial">{{ i + 1 }}</td>
                        <td>{{ item.producto.nombre }}</td>
                        <td>{{ item.inventario.paquete }}</td>
                        <td>{{ item.inventario.precio }}</td>
                        <td>{{ item.precio }}</td>
                        <td>
                          <div class="row row-cols-3">
                            <button
                              (click)="ver(i)"
                              class="col btn col m-0 m-md-3 btn-info"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Ver"
                            >
                              <i class="fas fa-info"></i>
                            </button>
                            <button
                              (click)="update(i, true)"
                              class="col btn col m-0 m-md-3 btn-warning"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Editar"
                            >
                              <i class="fas fa-edit"></i>
                            </button>
                            <button
                              (click)="delete(item._id)"
                              class="col btn col m-0 m-md-3 btn-danger"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Eliminar"
                            >
                              <i class="fas fa-trash"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /.table-stats -->
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </div>
  <!-- .animated -->
</div>
<!-- /.content -->
<div class="clearfix"></div>
