<div class="container-fluid mb-5 mb-4 h50 pt-3 fondo">
  <div class="noneb card w-50 mt-5 d-md-block d-none">
    <div class="card-body">
      <h1 class="card-title text-monospace">
        DESPÁCHATE TU SÚPER EN LÍNEA<br />
        <span class="texto-morado">FACÍL Y RÁPIDO</span>
      </h1>
      <p class="card-text">
        Con nuestro sistema de súper recurrente de súper en línea te permite
        programar tu súper con la frecuencia que tú decidas (semanal, quincenal
        y mensual), ya no tienes que preocuparte por hacerlo cada vez. Si gustas
        cambiar o agregar algo de tu carrito, puedes hacerlo con 48 horas de
        anticipación. <br />
        Sin salir de casa y a domicilio solo en despachate.com.mx
      </p>
      <strong>
        <a [routerLink]="['/', 'miSuscripcion']" class="texto-morado">
          Suscribete ahora
        </a></strong
      >
    </div>
  </div>
  <div class="noneb card w-70 mt-5 d-md-none d-block">
    <div class="card-body">
      <h2 class="monoRegular">
        SUSCRÍBETE Y DESPÁCHATE <br />
        <span class="texto-morado monoBold"><b>FACÍL Y RÁPIDO</b></span>
      </h2>
      <p class="card-text">
        Con nuestro sistema de súper recurrente te permite programar tu súper
        con la frecuencia que tú decidas (semanal, quincenal y mensual), ya no
        te tienes que preocupar por hacerlo cada vez. Si gustas cambiar o
        agregar algo de tu carrito, puedes hacerlo con 48 horas de anticipación.
      </p>
      <a
        class="manropelight"
        [routerLink]="['/', 'miSuscripcion']"
        style="color: purple"
      >
        Suscribete ahora
      </a>
    </div>
  </div>
</div>
<div
  class="container mt-5"
  style="margin-top: 0 !important; margin-bottom: 0 !important"
>
  <div class="row">
    <div class="col text-left">
      <h2>¿COMÓ <span class="texto-morado">FUNCIONA ? </span></h2>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-12 col-md-5 d-flex flex-column text-center">
      <img
        src="assets/images/003-mi-suscripcion-infografía.svg"
        style="width: 350px !important"
        alt=""
        srcset=""
      />
      <a [routerLink]="['/', 'registrarse']" class="text-dark"
        >Crea tu cuenta en
        <img
          src="assets/images/002-recomienda-gana.svg"
          class="imgCreaCuenta"
          alt=""
      /></a>
    </div>
    <div class="col-12 col-md-5 d-flex flex-column text-center">
      <img
        src="assets/images/004-mi-suscripcion-infografía.svg"
        style="width: 350px !important"
        alt=""
        srcset=""
      />
      <h6 class="manropelight">Agrega tus productos a "Mi súper recurrente"</h6>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-3"></div>
    <div class="col-12 col-md-3 d-flex flex-column text-center">
      <img
        src="assets/images/005-mi-suscripcion-infografía.svg"
        style="width: 350px !important"
        alt=""
        srcset=""
      />
      <h6 class="manropelight">
        Selecciona la frecuencia con la que quieres recibir tu súper a
        domicilio: quincenal, mensual.
      </h6>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column text-center">
      <img
        src="assets/images/006-mi-suscripcion-infografía.svg"
        style="width: 350px !important"
        alt=""
        srcset=""
      />
      <h6 class="manropelight">
        Ahorra tiempo y recibe tu súper a la puerta de tu casa.
      </h6>
    </div>
  </div>
</div>
<div class="container-fluid p-0">
  <div class="degradadoMorado row align-items-center my-5 pb-0">
    <div class="col-12 col-md-12 col-lg-7 pr-lg-0">
      <img
        class="img-fluid p-0"
        src="assets/images/1596736100236_007-mi-suscripcion-infografía.jpg"
        alt=""
        srcset=""
      />
    </div>
    <div class="col-12 col-md-12 col-lg-5 pl-lg-0 align-self-end">
      <div class="noneb card w-sm-75 w-75">
        <div class="card-body shadow p-1 mb-1 bg-white rounded">
          <h2 class="mx-2 card-title texto-morado pt-4 pl-3">BENEFICIOS</h2>

          <div class="text-card mx-5 mb-5">
            <div
              class="d-flex"
              style="margin-bottom: 0 !important; height: 60px !important"
            >
              <div class="mt-1">
                <svg
                  class="mr-1 svg-inline--fa fa-check fa-w-16 texto-p mr-3"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="check"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                  ></path>
                </svg>
              </div>

              <div>
                <p>
                  Ahorras tiempo, ya que no tienes que hacer tu súper cada
                  vez.<br /><br />
                </p>
              </div>
            </div>

            <!-- <i class="fas fa-check texto-verde"></i> -->
            <div
              class="d-flex"
              style="margin-bottom: 0 !important; height: 60px !important"
            >
              <div class="mt-1">
                <svg
                  class="mr-1 svg-inline--fa fa-check fa-w-16 texto-p mr-3"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="check"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                  ></path>
                </svg>
              </div>

              <div>
                <p>
                  Puedes seleccionar la frecuencia de tu súper a domicilio como
                  tú quieras.<br /><br />
                </p>
              </div>
            </div>

            <!-- <i class="fas fa-check texto-verde"></i> -->
            <div
              class="d-flex"
              style="margin-bottom: 0 !important; height: 60px !important"
            >
              <div class="mt-1">
                <svg
                  class="mr-1 svg-inline--fa fa-check fa-w-16 texto-p mr-3"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="check"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                  ></path>
                </svg>
              </div>

              <div>
                <p>
                  Puedes administrar tu lista de súper recurrente en línea,
                  agregar y eliminar artículos.<br /><br />
                </p>
              </div>
            </div>
            <!-- <i class="fas fa-check texto-verde"></i> -->
            <div
              class="d-flex"
              style="margin-bottom: 0 !important; height: 60px !important"
            >
              <div class="mt-1">
                <svg
                  class="mr-1 svg-inline--fa fa-check fa-w-16 texto-p mr-3"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="check"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                  ></path>
                </svg>
              </div>

              <div>
                <p>
                  Puedes cancelar tu súper recurrente cuando quieras.<br /><br />
                </p>
              </div>
            </div>
            <!-- <i class="fas fa-check texto-verde"></i> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mb-4 text-center">
  <h2 class="container">
    <a class="texto-negro monropeLight" [routerLink]="['/', 'registrarse']"
      >¡ÚNETE YA A
      <img
        src="assets/images/002-recomienda-gana.svg"
        style="height: 30px !important; margin-right: 10px !important"
        alt="" />
      !
      <span class="texto-morado"
        >Suscríbete ya
        <img
          src="assets/images/FLECHA-CONOCE-MAS-Morada.svg"
          style="width: 25px !important"
          class="ml-3"
          alt=""
          srcset="" /></span
    ></a>
  </h2>
</div>
