<div
  class="uk-flex uk-flex-column uk-flex-center uk-flex-middle"
  uk-height-viewport="expand: true"
>
  <div>
    <span
      class="uk-label-warning uk-border-circle p-3"
      uk-icon="icon: info; ratio: 2"
    ></span>
  </div>
  <div class="uk-text-center">
    <h3 class="mb-0">El pago ha quedado en estatus pendiente</h3>
    <p class="mt-0">
      <small
        >Puedes continuar con tu pago en el apartado de "Mis pedidos"</small
      >
    </p>
    <a
      routerLink="/miCuenta/"
      fragment="mispedidos"
      class="uk-button uk-button-text uk-text-primary"
      >Ir a mis pedidos</a
    >
  </div>
</div>
