<div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h3 class="texto-rojo">GRACIAS POR TU COMPRA</h3>
            <p>Gracias por tu pedido. Tu solicitud será revisada contra disponibilidad de inventario, de ser confirmada <br> recibirás un correo electrónico con más detalles. Información adicional. Los detalles de tu pedido se indican a continuación</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <div><img src="assets/images/logo-despachate.svg" height="100" alt=""></div>
            <div class="d-flex flex-column ">

                <h5>Tu fecha de entrega garantiza es</h5>
                <label for="" id="lbFechaEntrega">Viernes, 19 de junio</label>
                <br>
                <label for="">Tipo de envio: </label>

                <label for="" id="lbTipoDeEnvio"><strong>Express</strong></label>
                <br>
                <label for=""><strong>Tu pedido será enviado a:</strong></label>
                <label for="" id="lbDireccion">
              <p>Rio de Uruapan #5985 <br>
              Puebla, México <br>
              C.P. 72589</p>
          </label>

            </div>

        </div>
        <div class="col-12 col-md-6 ">
            <div class="row">
                <div class="col-12 col-md-6 mb-5">
                    <div class="text-center">
                        <h5>RESUMEN DEL PEDIDO:</h5>
                        <img src="assets/images/001-micuenta.svg" height="100" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="d-flex flex-column text-center" style="text-align: right">
                        <label for=""> <strong> Fecha del pedido:</strong></label>
                        <label for="" id="lbFechaPedido">06/12/2020</label>
                    </div>

                    <div style="text-align: right;" class="mt-4">
                        <button class="btn btn-sm bg-rojo text-white mt-2 px-4">Ver pedido</button>
                    </div>

                </div>
                <div class="col-12 ">

                    <div class="card w-100" style="background: #4adfcd;">
                        <div class="card-body text-white">
                            <h5 class="card-title">DEPÁCHATE <strong> CON CAUSA </strong></h5>
                            <p class="card-text">
                                Sabemos que quieres cuidar de tí y de tu familia, y también sabemos qua quieres cuidar de los que más necesitan, por eso en Despáchate cada vez que realizas tu compra, estás donando alimentos a personas necesitadas.
                                <br> Por cada compra qye realices el 3% del total de tu compra se donará en kilos de arroz y frijoles a personas necesitadas.
                            </p>
                            <label for="">HASTA HOY HAS DONADO: <br></label>
                            <label for="" id="ldonativo">$2,8500.00</label>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eum, sit velit dignissimos quae debitis minima rem nesciunt fuga sequi nostrum culpa fugit veniam illum maiores, placeat minus fugiat est tempore. Rerum nobis, quibusdam facere praesentium
            soluta cupiditate sed commodi deleniti magnam exercitationem dolorem eum sapiente et ex. Consequatur, ab mollitia non porro harum delectus reprehenderit omnis aperiam perspiciatis alias doloribus asperiores, pariatur sint maiores blanditiis
            aut, provident neque dolore temporibus beatae. Sit cumque voluptatibus vero magni illo voluptatem aspernatur maxime necessitatibus alias quaerat, fugiat reprehenderit, tenetur minima delectus, excepturi fugit modi. Corrupti magnam minima assumenda
            eos autem debitis voluptatibus?
        </div>
    </div>
</div>