<div class="container-fluid">
  <div class="row align-items-center mb-5">
    <div class="col-12 col-md-7 pr-0">
      <img
        class="img-fluid"
        src="assets/images/016-conocenos.jpg"
        alt=""
        srcset=""
      />
    </div>
    <div class="col-12 col-md-5 pl-0">
      <div class="noneb card">
        <div class="card-body">
          <h2 class="card-title texto-azul"><b>CONÓCENOS</b></h2>
          <p class="card-text">
            Somos tu súper en línea, en donde encontrarás todos los productos
            que necesitas para ti y para tu hogar. Lo más importante para
            nosotros es tu bienestar, comodidad y seguridad.
            <br />
            Esa es nuestra promesa. <br />
            <br />
            Estamos enfocados en tener los mejores productos para ti con los
            mejores precios, y claro, con lo más fresco y de la mejor calidad.
            ¡Sorprendente con tu super en línea! <br />
            <br />
            <label class="font-weight-bold" style="font-size: 18px !important"
              >Despáchate hasta la puerta de tu hogar.</label
            >
          </p>
          <!--                     <p><strong class="texto-gris">Despáchate a la puerta de tu hogar.</strong></p> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row degrablue align-items-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 pr-md-0 align-self-end d-none d-md-block">
          <div class="noneb card w-70">
            <div class="card-body">
              <h1 class="card-title">
                DESPÁCHATE <br />
                <span class="texto-morado"> <b> FÁCIL Y RÁPIDO </b></span>
              </h1>
              <p class="card-text">
                Con nuestro sistema de Mi Súper Recurrente, hacer tu súper nunca
                había sido tan práctico, fácil y rápido.
              </p>
              <p>
                Configura Mi Súper Recurrente y agrega los artículos de consumo
                diario, como leche, huevo, queso, etc., para que no lo tengas
                que hacer cada vez que realizas tu súper. Si quieres editar Mi
                Súper Recurrente, solo tienes que agregar o quitar los artículos
                que consideres a la hora de realizar tu compra.
              </p>
              <strong>
                <a [routerLink]="['/', 'miSuscripcion']" class="texto-morado">
                  Iniciar Mi Súper Recurrente</a
                ></strong
              >
            </div>
          </div>
        </div>
        <div class="col-md-7 col-12 pl-md-0 mt-5">
          <img src="assets/images/020-conocenos.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-12 pl-md-0 align-items-center d-block d-md-none">
          <div
            class="noneb card w-70"
            style="
              position: relative !important;
              bottom: 40px;
              left: 5%;
              width: 90%;
            "
          >
            <div class="card-body">
              <h1 class="card-title">
                DESPÁCHATE <br />
                <span class="texto-morado"> <b> FÁCIL Y RÁPIDO </b></span>
              </h1>
              <p class="card-text">
                Con nuestro sistema de súper recurrente en línea podrás
                programar la entrega de tu súper a domicilio con la frecuencia
                que tú decidas (semanal, quincenal y mensual), ya no tienes que
                preocuparte por hacerlo cada vez. Si gustas cambiar o agregar
                algo de tu carrito, puedes hacerlo con 48 horas de anticipación.
              </p>
              <p>
                Nunca había sido tan fácil hacer tu súper en linea con
                despachate.com.mx
              </p>
              <strong>
                <a [routerLink]="['/', 'recomiendaGana']" class="texto-morado">
                  Cómo funciona</a
                ></strong
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="container">
      <div class="col-12 display-4 text-center">
        <img
          src="assets/images/018-conocenos_Mesa de trabajo 1.svg"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>

  <div class="row bg-img-conocenos">
    <div class="col-12 align-self-end d-flex justify-content-center">
      <div class="d-none d-md-block noneb card w-50 align-content-end">
        <div class="card-body">
          <h2 class="card-title">
            DESPÁCHATE <br />
            <span class="texto-verde"
              ><b>CON TU SÚPER, SIN IR AL SÚPER</b></span
            >
          </h2>
          <p class="card-text">
            Con nuestro servicio personalizado online “Despáchate con Shopper”
            haces tú súper perfecto sin necesidad de ir físicamente a la tienda
            o autoservicio. Cada vez que realizas tu compra en línea se te
            asignará un “Shopper de Corazón” que hará las compras por ti, te
            ayudará a escoger la fruta y verdura según tus necesidades, te
            orientará sobre promociones y descuentos.
          </p>
          <p>Despáchate con tu súper digital.</p>
        </div>
      </div>

      <div class="d-block d-md-none noneb card w-70 align-content-end">
        <div class="card-body">
          <h2 class="card-title">
            DESPÁCHATE <br />
            <span class="texto-verde">
              <b> CON TU SUPER SIN IR AL SUPER</b></span
            >
          </h2>
          <p class="card-text">
            Con nuestro servicio personalizado online “Despáchate con Shopper”
            haces tú súper perfecto sin necesidad de ir físicamente a la tienda
            o autoservicio. Cada vez que realizas tu compra en línea se te
            asignará un “Shopper de Corazón” que hará las compras por ti, te
            ayudará a escoger la fruta y verdura según tus necesidades, te
            orientará sobre promociones y descuentos.
          </p>
          <p>Despáchate con tu súper digital.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row degradoVerde">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-12 pr-md-0 mt-5">
          <img src="assets/images/020-conocenos.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-12 pl-md-0 align-items-center d-block d-md-none">
          <div
            class="noneb card w-70"
            style="
              position: relative !important;
              bottom: 40px;
              left: 5%;
              width: 90%;
            "
          >
            <div class="card-body">
              <span class="card-title monoBold">
                DESPÁCHATE <br />
                <span class="texto-rojo"> <b>RECOMIENDA Y GANA</b> </span></span
              >
              <p class="card-text">
                Cada vez que recomiendas “Despáchate” tu súper en línea a un
                amig@ o familiar, y 5 de ellos realizan una compra en
                Despáchate, obtienes un cupón de descuento que puedes usar en tu
                siguiente pedido. Solo tienes que pedirle a tu amig@ que ponga y
                use tu código de descuento al momento de realizar su compra.
              </p>
              <strong>
                <a [routerLink]="['/', 'recomiendaGana']" class="texto-rojo">
                  Cómo funciona</a
                ></strong
              >
            </div>
          </div>
        </div>

        <div class="col-md-5 pl-md-0 align-self-end d-none d-md-block">
          <div class="noneb card w-70">
            <div class="card-body">
              <span class="card-title monoBold">
                DESPÁCHATE <br />
                <span class="texto-rojo"><b>RECOMIENDA Y GANA</b></span></span
              >
              <p class="card-text">
                Cada vez que recomiendas “Despáchate” tu súper en línea a un
                amig@ o familiar, y 5 de ellos realizan una compra en
                Despáchate, obtienes un cupón de descuento que puedes usar en tu
                siguiente pedido. Solo tienes que pedirle a tu amig@ que ponga y
                use tu código de descuento al momento de realizar su compra.
              </p>
              <strong>
                <a [routerLink]="['/', 'recomiendaGana']" class="texto-rojo">
                  Cómo funciona</a
                ></strong
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-causa">
    <div class="col-12 align-self-center d-flex justify-content-center">
      <div class="d-none d-md-block card w-50" style="background: #4adfcd">
        <div class="card-body text-white">
          <span class="card-title text-center text-white monoBold"
            >DESPÁCHATE <b> CON CAUSA </b></span
          >
          <p class="card-text">
            Sabemos que quieres cuidar de tí y de tu familia, y de los que más
            necesitan, por eso en “Despáchate” cada vez que realizas una compra
            de tu súper en línea, estás donando alimentos a personas
            necesitadas.
          </p>
          <p>
            Por cada compra que realices, el 3% del total de tu compra se donará
            en kilos de arroz y frijoles a personas necesitadas.
          </p>
        </div>
      </div>

      <div class="d-block d-md-none card w-80" style="background: #4adfcd">
        <div class="card-body text-white">
          <span class="card-title text-center text-white monoBold"
            >DEPÁCHATE <b> CON CAUSA </b></span
          >
          <p class="card-text">
            Sabemos que quieres cuidar de tí y de tu familia, y de los que más
            necesitan, por eso en “Despáchate” cada vez que realizas una compra
            de tu súper en línea, estás donando alimentos a personas
            necesitadas.
          </p>
          <p>
            Por cada compra que realices, el 3% del total de tu compra se donará
            en kilos de arroz y frijoles a personas necesitadas.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center mb-5">
    <div class="col-12 col-md-7 pr-0">
      <img
        class="img-fluid"
        src="assets/images/022-conocenos.jpg"
        alt=""
        srcset=""
      />
    </div>
    <div class="col-12 col-md-5 pl-0">
      <div class="noneb card">
        <div class="card-body">
          <span class="card-title monoBold">
            DESPÁCHATE <br />
            <span class="texto-rojo">
              <b> CON CONFIANZA Y SEGURIDAD</b>
            </span></span
          >
          <p class="card-text">
            Lo más importante para nosotros es tu bienestar y la seguridad de tu
            familia. Por eso, nuestros “Despachadores de Corazón” son
            seleccionados cuidadosamente y monitoreados continuamente. Cada vez
            que realices tu compra, se te notificará quien será tu “Despachador
            de Corazón,” para que puedas identificarlo a la hora de la entrega.
            Posterior a tu compra, podrás calificar a tu “Despachador de
            Corazón” esto nos permitirá ofrecerte siempre el mejor servicio.
          </p>
          <p>Comprar tu súper a domicilo es más fácil en despachate.com.mx</p>
        </div>
      </div>
    </div>
  </div>
</div>
