<div class="container shadow p-3 mb-5 mt-4 bg-white rounded">
  <div class="row mt-5 mb-5 px-5">
    <div class="col-12 text-center mb-4">
      <h3 class="texto-rojo">
        <img src="assets/images/icono_carro.png" style="height: 30px" alt="" />
        <strong> CARRITO</strong>
      </h3>
    </div>
    <div class="col-12 text-right pr-0">
      <button
        type="button"
        class="btn btn-danger col-md-3 mt-2 mb-3"
        style="background-color: #fc4b44 !important"
        (click)="vaciarCarrito()"
      >
        Vaciar carrito
      </button>
    </div>
    <div class="col-12 card">
      <div class="row row-cols-2">
        <div class="col">
          <h6 class="mt-4 w-100">
            PRODUCTOS <span class="texto-rojo">AÑADIDOS AL CARRITO</span>
          </h6>
        </div>
        <div class="col text-right">
          <h6 class="mt-4 w-100">
            SUBTOTAL: <span class="texto-rojo">{{ subtotal | currency }}</span>
          </h6>
        </div>
      </div>

      <div class="scrollable3 d-md-block d-none">
        <div
          *ngFor="let producto of productos; let index = index"
          class="row carrito-row align-items-center text-center"
        >
          <div class="col-4 col-md-2">
            <button
              class="btn-primary-outline"
              (click)="eliminarProducto(producto.paquete._id)"
            >
              <img
                style="width: 24px"
                class="mr-1"
                src="assets/images/TACHE.svg"
                alt=""
              />
            </button>
            <img
              [src]="url + producto.producto.img"
              [routerLink]="['/producto', producto.producto._id]"
              alt="icono"
              class="w-50"
            />
          </div>
          <div class="col-3 col-md-3" style="font-size: 2vh">
            <p>{{ producto.producto.nombre }}</p>
          </div>
          <div class="col-3 col-md-2" style="font-size: 2.5vh">
            <p>
              <span class="badge badge-primary p-2">{{
                producto.paquete.paquete
              }}</span>
            </p>
          </div>
          <div class="col-5 offset-md-2 col-md-2 pt-3">
            <div class="row align-items-center">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="cantidad(index, false)"
                    type="button"
                    id="button-addon1"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <input
                  type="number"
                  [value]="producto.cantidad"
                  disabled
                  readonly
                  class="form-control text-center"
                  placeholder=""
                  aria-label="Example text with button addon"
                  aria-describedby="button-addon1"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="cantidad(index, true)"
                    type="button"
                    id="button-addon1"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>

              <div class="col-12 text-center" style="float: none">
                <label class="" for="" id="lbPrecioUnitario">{{
                  producto.total | currency: "MXN":"$":"1.2-2"
                }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scrollable3 d-md-none d-block mt-3">
        <div
          *ngFor="let producto of productos; let index = index"
          class="row carrito-row align-items-center text-center"
        >
          <div class="col-6">
            <button
              class="btn-primary-outline"
              (click)="eliminarProducto(producto.paquete._id)"
            >
              <img
                style="width: 24px"
                class="mr-1"
                src="assets/images/TACHE.svg"
                alt=""
              />
            </button>
            <img
              [src]="url + producto.producto.img"
              [routerLink]="['/producto', producto.producto._id]"
              alt="icono"
              class="w-50"
            />
          </div>
          <div class="col-4" style="font-size: 2vh">
            <p>{{ producto.producto.nombre }}</p>
          </div>
          <div class="col-5" style="font-size: 2.5vh">
            <p>
              <span class="badge badge-primary p-2">{{
                producto.paquete.paquete
              }}</span>
            </p>
          </div>
          <div class="col-7">
            <div class="row align-items-center">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="cantidad(index, true)"
                    type="button"
                    id="button-addon1"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                <input
                  type="number"
                  [value]="producto.cantidad"
                  disabled
                  readonly
                  class="form-control text-center"
                  placeholder=""
                  aria-label="Example text with button addon"
                  aria-describedby="button-addon1"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="cantidad(index, false)"
                    type="button"
                    id="button-addon1"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>

              <div class="col-12 text-center" style="float: none">
                <label class="" for="" id="lbPrecioUnitario">{{
                  producto.total | currency: "MXN":"$":"1.2-2"
                }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--here-->
    </div>
  </div>

  <div class="row d-none d-md-flex justify-content-between mb-5">
    <a
      class="btn bg-btnAzul ml-5"
      href="javascript:void(0)"
      (click)="seguirCompra()"
      >SEGUIR COMPRANDO</a
    >
    <button (click)="continuarCompra()" class="btn bg-rojo mr-5">
      FINALIZAR COMPRA
    </button>
  </div>
  <div class="row d-md-none d-sm-block">
    <div class="col">
      <a
        class="btn bg-btnAzul ml-2"
        href="javascript:void(0)"
        (click)="seguirCompra()"
        >SEGUIR COMPRANDO</a
      >
    </div>
    <div class="col">
      <button (click)="continuarCompra()" class="btn bg-rojo mr-2">
        FINALIZAR COMPRA
      </button>
    </div>
  </div>
</div>
