<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">

        <div class="clearfix"></div>

        <div class="orders">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <a routerLink="/admin/departamentos" class="btn btn-primary btn-block">Departamentos</a>
                        </div>
                        <div class="col">
                            <a routerLink="/admin/categorias" class="btn btn-primary btn-block">Categorias</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header hover btn-primary text-dark" style="cursor: pointer;" data-toggle="collapse" role="button" data-target="#header-form">
                            <div class="d-block text-center">
                                <strong class="p-2 bd-highlight">Agregar subcategoria</strong>
                            </div>
                        </div>
                        <div class="card-body card-block collapse show" id="header-form">
                            <form ngNativeValidate [formGroup]="form" (ngSubmit)="add()" class="form-horizontal">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-sm-12 form-group">
                                        <div class="col"><label for="nombre" class=" form-control-label">SubCategoria</label></div>
                                        <div class="col"><input formControlName="nombre" minlength="2" maxlength="200" required type="text" id="nombre" name="nombre" placeholder="Introduce el nombre del nombre" class="form-control">
                                            <small class="form-text text-muted">Ejemplo: Frutas</small></div>
                                    </div>
                                    <div class="col-12  col-md-6 col-sm-12 form-group">
                                        <div class="col"><label for="categoria" class=" form-control-label">Categoria</label></div>
                                        <div class="col">
                                            <select formControlName="categoria" name="categoria" id="categoria" class="form-control">
                                                <option value="null" selected >Selecciona una categoria</option>
                                                <option [value]="[item._id]" *ngFor="let item of listaCategorias">{{item.nombre}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-danger btn-block" (click)="limpiarCampos()">Cancelar</button>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary btn-block" [hidden]="hidden">Registrar</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="card p-3">
                        <div class="card-body">
                            <h4 class="box-title">Subcategorias </h4>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
                                        <thead>
                                            <tr>
                                                <th class="serial">#</th>
                                                <th>Categoria</th>
                                                <th>Subcategoria</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of lista; let i = index">
                                                <td class="serial">{{i+1}}</td>
                                                <td>{{item.categoria != null ? item.categoria.nombre:'No asignada'}}</td>
                                                <td>{{item.nombre}}</td>
                                                <td>
                                                    <div class="row row-cols-3 row-cols-1">
                                                        <button (click)="ver(i)" class="col m-0 m-md-3 btn btn-info" data-toggle="tooltip" data-placement="top" title="Ver">Ver</button>
                                                        <button (click)="update(i,true)" class="col m-0 m-md-3 btn btn-warning" data-toggle="tooltip" data-placement="top" title="Editar">Editar</button>
                                                        <button (click)="delete(item._id)" class="col m-0 m-md-3 btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar">Eliminar</button>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.table-stats -->
                        </div>

                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

    </div>
    <!-- .animated -->
</div>
<!-- /.content -->
<div class="clearfix"></div>