<!-- Content -->
<div class="content">
  <!-- Animated -->
  <div class="animated fadeIn">
    <div class="clearfix"></div>

    <div class="orders">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <a
                routerLink="/admin/categorias"
                class="btn btn-primary btn-block"
                >Categorias</a
              >
            </div>
            <div class="col">
              <a
                routerLink="/admin/subcategorias"
                class="btn btn-primary btn-block"
                >Subcategorias</a
              >
            </div>
          </div>
          <div class="card">
            <div
              class="card-header hover btn-primary text-dark"
              style="cursor: pointer"
              data-toggle="collapse"
              role="button"
              data-target="#header-form"
            >
              <div class="d-block text-center">
                <strong class="p-2 bd-highlight">Agregar departamento</strong>
              </div>
            </div>
            <div class="card-body card-block collapse show" id="header-form">
              <form
                ngNativeValidate
                [formGroup]="form"
                (ngSubmit)="add()"
                class="form-horizontal"
              >
                <div class="row">
                  <div class="row btn btn-block btn-dark text-center">
                    <h5>Subir imagen</h5>
                    <div class="col-8 mx-auto">
                      <div class="mb-4 mt-4">
                        <ul class="row">
                          <li
                            *ngIf="imagenTemp != null"
                            class="col text-center"
                          >
                            <div class="badge">
                              <img
                                [src]="imagenTemp"
                                alt=""
                                style="width: 50%"
                              />
                            </div>
                          </li>
                          <li *ngIf="imgEditar != ''" class="col text-center">
                            <div class="badge">
                              <img
                                [src]="url + imgEditar"
                                alt=""
                                style="width: 50%"
                              />
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-6 mx-auto">
                      <input
                        (change)="seleccionImage($event.target.files[0])"
                        type="file"
                        class="btn btn-info btn-block"
                        formControlName="img"
                        name="img"
                        id="img"
                      />
                      <!-- <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Selecciona una imagen</label> -->
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-sm-12 form-group">
                    <div class="col">
                      <label for="nombre" class="form-control-label"
                        >Departamento</label
                      >
                    </div>
                    <div class="col">
                      <input
                        formControlName="nombre"
                        minlength="1"
                        maxlength="200"
                        required
                        type="text"
                        id="nombre"
                        name="nombre"
                        placeholder="Introduce el nombre del nombre"
                        class="form-control"
                      />
                      <small class="form-text text-muted"
                        >Ejemplo: Alimentos y Bebidas</small
                      >
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-sm-12 form-group">
                    <div class="col">
                      <label for="nombre" class="form-control-label"
                        >Orden</label
                      >
                    </div>
                    <div class="col">
                      <input
                        formControlName="order"
                        min="1"
                        required
                        type="number"
                        id="order"
                        name="order"
                        placeholder="Introduce la posición de este departamento"
                        class="form-control"
                      />
                      <small class="form-text text-muted">Ejemplo: 1</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button
                      type="button"
                      class="btn btn-danger btn-block"
                      (click)="limpiarCampos()"
                    >
                      Cancelar
                    </button>
                  </div>
                  <div class="col">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block"
                      [hidden]="hidden"
                    >
                      Registrar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="card p-3">
            <div class="card-body">
              <h4 class="box-title">Departamentos</h4>
            </div>
            <div class="card-body">
              <div class="">
                <div class="table-responsive">
                  <table
                    datatable
                    [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger"
                    class="table"
                  >
                    <thead>
                      <tr>
                        <th class="serial">Orden</th>
                        <th>Imagen</th>
                        <th>Departamento</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of lista; let i = index">
                        <td class="serial">{{ item.order }}</td>
                        <td>
                          <img
                            [src]="url + item.img"
                            alt="..."
                            class="img-thumbnail"
                            width="200px"
                          />
                        </td>
                        <td>{{ item.nombre }}</td>
                        <td>
                          <div class="row row-cols-3 row-cols-1">
                            <button
                              (click)="ver(i)"
                              class="col m-0 m-md-3 btn btn-info"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Ver"
                            >
                              <i class="fas fa-info"></i>
                            </button>
                            <button
                              (click)="update(i, true)"
                              class="col m-0 m-md-3 btn btn-warning"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Editar"
                            >
                              <i class="fas fa-edit"></i>
                            </button>
                            <button
                              (click)="delete(item._id)"
                              class="col m-0 m-md-3 btn btn-danger"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Eliminar"
                            >
                              <i class="fas fa-trash"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /.table-stats -->
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </div>
  <!-- .animated -->
</div>
<!-- /.content -->
<div class="clearfix"></div>
