<div class="container">
    <div class="row mb-5 mt-4 d-md-flex d-none">
        <div class="col"></div>
        <div class="col d-flex justify-content-center">
            <h3 class="texto-verde text-white"><strong>TÉRMINOS Y <br> CONDICIONES</strong></h3>
        </div>
        <div class="col">
            <div class="todos"><a (click)="back()"><b class="texto-negro"> REGRESAR</b></a></div>
        </div>
    </div>
    <div class="row mb-5 mt-4 d-md-none d-flex">
        <div class="col"></div>
        <div class="col-12 d-flex justify-content-center">
            <h3 class="texto-verde text-white"><strong>TÉRMINOS Y <br> CONDICIONES</strong></h3>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="todos"><a (click)="back()"><b class="texto-negro"> REGRESAR</b></a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Introducción</h4>
            <p class="texto-justificar">
                Agradecemos tu visita a nuestra tienda en línea. Al hacer cualquier compra en <a href="www.despachate.mx" class="enlace"><u><b>www.despachate.mx</b></u></a> estás aceptando los siguientes términos y condiciones.
            </p>
            <p class="texto-justificar">
                Al visitar <a href="www.despachate.mx" class="enlace"><u><b>www.despachate.mx</b></u></a> quedas sujeto(a) a los lineamientos, derechos y restricciones aquí mencionadas. ARTE VENTAS DE PUEBLA, S.A. DE C.V. (en adelante DESPACHATE se reserva
                el derecho de modificar el presente documento en el momento y bajo las circunstancias que más le convengan, siendo estos cambios vigentes en el momento mismo de su publicación.
            </p>
            <p class="texto-justificar">
                Aceptación de términos legales: Con el objetivo de ofrecer un ambiente seguro y agradable para nuestros clientes y visitantes, hemos establecido reglas y términos bajo los cuales se delimitan las áreas de responsabilidad y derechos, tanto de DESPACHATE
                como de nuestros visitantes.
            </p>
            <p class="texto-justificar">
                Si vas a realizar una compra a través de DESPACHATE es de suma importancia conocer la siguiente información.
            </p>
            <h4>Formas de Pago</h4>
            <p class="texto-justificar">
                Podrás realizar el pago de tus pedidos directamente en nuestra página por medio del sistema Pay Pal, aceptando sus reglas y condiciones para asegurar tu seguridad y la de tu operación.
            </p>
            <p class="texto-justificar">
                Para depósito referenciado (la referencia es el número de tu pedido), el pago lo podrás realizar en cualquier sucursal Citibanamex del país o por medio de tu portal bancario, depósito en ventanilla a nombre de ARTE VENTAS DE PUEBLA, S.A. DE C.V. con número
                de sucursal 813 y número de cuenta 188647-1, depósito o transferencia bancaria por cuenta CLABE INTERBANCARIA 002650081318864716.
            </p>
            <p class="texto-justificar">
                Contamos también con opción de PAGO CONTRA ENTREGA por medio de Tarjetas de Crédito, Débito o efectivo en las Zonas de Puebla y Tlaxcala
            </p>
            <h4>Políticas de Pago y Mercancía</h4>
            <p class="texto-justificar">
                1. DESPACHATE se reserva el derecho de solicitar documentos oficiales a sus clientes, como medio de validación al proceso de adquisición de productos a través de su sitio en Internet.
            </p>
            <p class="texto-justificar">
                2. El número de orden que se asigna al realizar la transacción en el sitio de Internet de DESPACHATE no implica la aceptación de la transacción. En caso de tener algún problema con tu orden te será comunicado por correo electrónico o vía telefónica.
            </p>
            <h4>ponibilidad de Mercancía y Existencias</h4>
            <p class="texto-justificar">
                1. Si el tiempo de entrega ofrecido no es de tu entera satisfacción, puedes solicitar la cancelación de la orden. Todos los productos que se ofrecen en el sitio de Internet de DESPACHATE se encuentran sujetos a disponibilidad.
            </p>
            <p class="texto-justificar">
                2. Toda nuestra mercancía está sujeta a existencias, por lo que el tiempo de entrega puede variar previo aviso de nuestra parte, o incluso podrá proceder la cancelación de la orden y la devolución de sus cargos en caso de no ser un producto resurtible.
            </p>
            <h4>Precios</h4>
            <p class="texto-justificar">
                1. Los precios publicados en el sitio de Internet de <a href="www.despachate.mx" class="enlace"><u><b>www.despachate.mx</b></u></a> son exclusivos para este canal y pueden cambiar sin previo aviso. Si por alguna razón el precio se encuentra
                en $ 0.00 ó $ 0.01, te pedimos que nos llames por teléfono al (222) 282 7500 o nos envíes un correo a <a href="mailto:hola@despachate.mx" class="enlace"><u><b>hola@despachate.mx</b></u></a> para darte el precio correcto del artículo.
            </p>
            <p class="texto-justificar">
                2. Por ninguna razón se entenderá que éstos no tengan precio o se regalen. Todos los pedidos que se realicen bajo esta situación serán cancelados sin previo aviso.
            </p>
            <h4>Especificaciones de los Productos</h4>
            <p class="texto-justificar">1. Las características y especificaciones de los productos pueden cambiar sin previo aviso. Y la fotografía puede no corresponder a éstas, sino ser de un producto similar representado de manera ilustrativa.</p>
            <h4> Envío de Productos</h4>
            <p class="texto-justificar">1. El tiempo de entrega inicia a partir de la confirmación del pago por parte del banco, el cual te será notificado por correo electrónico en un periodo máximo de 24 horas.</p>
            <p class="texto-justificar">2. El tiempo máximo de entrega será de 2 días hábiles, tras la confirmación del pago, dependiendo de las condiciones solicitadas o la zona de entrega.</p>
            <p class="texto-justificar">3. DESPACHATE se compromete a entregarte la mercancía en el tiempo establecido y en función a la programación disponible y la accesibilidad del destino.</p>
            <p class="texto-justificar">4. En circunstancias especiales, DESPACHATE realizará la entrega a través de compañías transportistas.</p>
            <p class="texto-justificar">5. El Costo del Flete es gratuito en la Ciudad Puebla, Tlaxcala y en las Zonas Postales autorizadas en pedidos mayores a 500.00 (SON: Quinientos pesos 00/100 m.n.). Fuera de estas áreas y envíos foráneos, el costo de envío en paquetería corre
                por cuenta del cliente.</p>
            <p class="texto-justificar">6. Al momento de la recepción del producto, se te entregará, junto con la mercancía, el ticket del pedido para su cotejo. Igualmente será entregada vía correo electrónico a la dirección electrónica que nos hayas brindado.</p>
            <h4>Facturación</h4>
            <p class="texto-justificar">1. En caso de que requieras factura por el importe total de tus compras, SE DEBE SOLICITAR AL MOMENTO DE CONFIRMAR TU PEDIDO. Envía tu número de orden, nombre o razón social, RFC y domicilio fiscal completo AL CORREO <a href="mailto:hola@despachate.mx"
                    class="enlace"><u><b>hola@despachate.mx .</b></u></a> </p>
            <p class="texto-justificar">2. Los datos deberán ser enviados el mismo día. NO se podrán realizar refacturaciones posteriormente.</p>
            <h4>Suscripciones y Membresías.</h4>
            <p class="texto-justificar">Las suscripciones que se ofrecen para los clientes DESPACHATE, se refieren a la ventaja de programar sus pedidos a domicilio de forma semanal, quincenal o mensual con la facilidad de cancelar o modificar antes de 24 hrs. del envío de sus productos
                por medio de correo electrónico a <a href="mailto:hola@despachate.mx" class="enlace"><u><b>hola@despachate.mx</b></u></a> . En caso de realizar modificaciones a su pedido programado con menos de 24 hrs. de anticipación a su entrega, los
                cambios solicitados de realizarán en la siguiente entrega programada.</p>
            <p class="texto-justificar">Estas membresías tienen además de estas ventajas, beneficios como descuentos por recomendaciones y programas de lealtad.</p>
            <h4>Compras con causa</h4>
            <p class="texto-justificar">Todas las compras que se realicen en esta plataforma, participan también en el programa de donación de DESPACHATE al BANCO DE ALIMENTOS, <a href="www.bamx.org.mx" class="enlace"><u><b>www.bamx.org.mx</b></u></a> como beneficio adicional.</p>
            <h4>Política de Devoluciones</h4>
            <p class="texto-justificar">Al momento de la entrega, deberá de verificar la mercancía en su totalidad ya que no aceptamos cambios ni devoluciones posteriores.</p>
            <h4>Cancelaciones</h4>
            <p class="texto-justificar">Puedes cancelar el pedido antes de la confirmación de envío, posteriormente no será posible realizarla. En caso de CANCELACIÓN, Comuníquese inmediatamente a los teléfonos (222) 282-7500 Ext 823 y 814.</p>
            <p class="texto-justificar mb-5">Para el reembolso deberá proporcionar la información de la cuenta de depósito.</p>
        </div>

    </div>
</div>